colorama==0.4.6
contourpy==1.1.1
cycler==0.12.1
Cython==3.0.11
fonttools==4.55.3
imageio==2.35.1
importlib_metadata==8.5.0
importlib_resources==6.4.5
kiwisolver==1.4.7
lazy_loader==0.4
llvmlite==0.41.1
matplotlib==3.7.5
networkx==3.1
numba==0.58.1
numpy==1.24.4
opencv-python==4.10.0.84
packaging==24.2
pillow==10.4.0
protobuf==5.29.3
pyparsing==3.1.4
python-dateutil==2.9.0.post0
PyWavelets==1.4.1
PyYAML==6.0.2
scikit-image==0.21.0
scipy==1.10.1
six==1.17.0
tensorboardX==2.6.2.2
tifffile==2023.7.10
torch==1.10.0+cu111
torchaudio==0.10.0+rocm4.1
torchvision==0.11.0+cu111
tqdm==4.67.1
typing_extensions==4.12.2
yacs==0.1.8
zipp==3.20.2
